name: test action

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    name: test action-yaml-update
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: test action
        uses: ./
